<!DOCTYPE  html>
<html>
<head>
    <title>Bloggg</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <link href = "css/bootstrap.min.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = "css/booklist.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = 'http://fonts.googleapis.com/css?family=Ropa+Sans|Bitter|Montserrat' rel='stylesheet' type='text/css'>
    <script src = "/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function() { 
            $(".editprofile").click(function(){
                var id = ($(this).attr('userid'));
                window.location.href= "/user/"+ id + "/edit";
            });
            
            $(".savebutton").click(function(){
                var id         = ($(this).attr('postid'));
                var post_title = $("#post_title").val();
                var author     = $("#author").val();
                var authorid   = $("#authorid").val();
                var body       = $("#body").val();

                // ===== ajax to put
                $.ajax({
                    url: '/post/' + id + '?title=' + post_title + '&author=' + author + '&authorid=' + authorid + '&body=' + body,
                    type: 'PUT',
                    contentType:'application/json',
                    data: JSON.stringify({id:id, title:post_title, userid: authorid, body:body})
                }).done(function(msg){
                    alert("Successfully updated post!");
                    $( "#displayhere" ).append( "<p><strong>Successfully updated post!</strong></p>" );
                    window.location.href= "/dashboard";
                }).fail(function(xhr, status, err){
                    alert("Status:" + status + " Error: " + err);
                    alert("Err: " + xhr.responseText);
                    window.location.href= "/error";
                });
            });
            
            $(".cancelbutton").click(function(){
                window.location.href= "/dashboard";
            });

        });
    </script>
</head>

<body>
    <div class="heading">
        <div id="title">Bloggg!</div>
        <div id="user">Welcome, <%= user.first_name%> | <a href="/logout">Log-out</a></div>
    </div>
    <div id="nav">
        <a href="/dashboard">Home</a>
        <a href="/post">Add Post</a>
    </div>
    <div id="menu">
        <ul>
            <li><button class="editprofile" type="submit" userid="<%=user.id%>">Update Profile</button></li>
        </ul>
    </div>
    
    <div class="container">
        <div class="hero-unit">
            <div id="displayhere"></div>
            <p>
                <label>Update post</label>
                <p align="left">
                    Title: <input type="text" value="<%= result.title%>" name="post_title" id="post_title"></input><br/>
                    Author: <input type="text" value="<%=user.first_name%>" name="author" id="author" disabled></input><br/>
                    Author ID: <input type="text" value="<%=result.userid%>" name="authorid" id="authorid" disabled></input><br/>
                    Text: <textarea name="body" id="body"><%= result.body%></textarea>
                </p>
                <p>
                    <button class = "savebutton" type="submit" postid="<%= result._id%>">Save</button>
                    <button class = "cancelbutton" type="submit">Cancel</button>
                </p>
            </p>
        </div>
    </div>
    <div class="footer">
		Bloggg. A micro-blogging site. Ima Balles
	</div>
    
    <script src = "js/bootstrap.min.js"></script>
</body>
</html>
