<!DOCTYPE  html>
<html>
<head>
    <title>Error | Bloggg</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <link href = "css/bootstrap.min.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = "css/booklist.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = 'http://fonts.googleapis.com/css?family=Ropa+Sans|Bitter' rel='stylesheet' type='text/css'> 
</head>

<body>
    <div class="header">Error!</div>
    <div class="container">
        <div class="hero-unit">
            <p>
                <p>
                    Oops! Looks like something went wrong! Please try again.
                </p>
                <p><a href="/dashboard">Back</a></p>
            </p>
        </div>
    </div>
    <div class="footer">
		Bloggg. A micro-blogging site. Ima Balles
	</div>
    
    <script src = "js/bootstrap.min.js"></script>
</body>
</html>
