<!DOCTYPE  html>
<html>
<head>
    <title>Bloggg</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <link href = "css/bootstrap.min.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = "css/booklist.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = 'http://fonts.googleapis.com/css?family=Ropa+Sans|Bitter|Montserrat' rel='stylesheet' type='text/css'>
    <script src = "/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function() {            
            $(".editprofile").click(function(){
                var id = ($(this).attr('userid'));
                window.location.href= "/user/"+ id + "/edit";
            });
        });
    </script>
</head>

<body>
    <div class="heading">
        <div id="title">Bloggg!</div>
        <div id="user">Welcome, <%=user.first_name%> | <a href="/logout">Log-out</a></div>
    </div>

    <div id="nav">
        <a href="/dashboard">Home</a>
    </div>
    <div id="menu">
            <ul>
                <li><button class="editprofile" type="submit" userid="<%=user.id%>">Update Profile</button></li>
            </ul>
    </div>

    <div class="container">
        <div class="hero-unit">
            <form enctype="application/x-www-form-urlencoded" action="/post" id="postform" method="POST">
                <p>
                    <label>Create new post</label>
                    <p>
                        <input type="text" placeholder="Title" name="title" id="title"></input><br/>
                        <textarea name="body" id="body" placeholder="Your text here"></textarea>
                    </p>
                    <p>
                        <button type="submit" onclick="document.getElementbById('postform').submit();" href="javascript.void(0)" value="Submit">Post</button>
                    </p>
                </p>
            </form>   
        </div>
    </div>
    <div class="footer">
		Bloggg. A micro-blogging site. Ima Balles
	</div>
    
    <script src = "js/bootstrap.min.js"></script>
</body>
</html>
