<!DOCTYPE  html>
<html>
<head>
    <title>Bloggg</title>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <link href = "css/bootstrap.min.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = "css/bloggg.css" rel="stylesheet" media = "screen" type = "text/css"/>
    <link href = 'http://fonts.googleapis.com/css?family=Ropa+Sans|Bitter|Montserrat' rel='stylesheet' type='text/css'>
    <script src = "/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function() {            
            $(".editprofile").click(function(){
                var id = ($(this).attr('userid'));
                window.location.href= "/user/"+ id + "/edit";
            });
            
            $(".editbutton").click(function(){
                var id = ($(this).attr('postid'));
                window.location.href= "/post/"+ id + "/edit";
            });
            
            $(".deletebutton").click(function(){
                var id = ($(this).attr('postid'));
                
                // ===== ajax to delete
                $.ajax({
                    url: '/post/' + id,
                    type: 'DELETE',
                    contentType:'application/json',
                    data: JSON.stringify({id:id})
                }).done(function(msg){
                    alert("Successfully deleted post!");
                    $( "#displayhere" ).append( "<p><strong>Successfully deleted post!</strong></p>" );
                    location.reload();
                }).fail(function(xhr, status, err){
                    alert("Status:" + status + " Error: " + err);
                    alert("Err: " + xhr.responseText);
                    window.location.href= "/error";
                });
            });
        });
    </script>
</head>

<body>
    <div class="heading">
        <div id="title">Bloggg!</div>
        <div id="user">Welcome, <%=user.first_name%> | <a href="/logout">Log-out</a></div>
    </div>
    <div id="nav">
        <a href="/dashboard">Home</a>
        <a href="/post">Add Post</a>
    </div>
    <div id="menu">
        <ul>
            <li><button class="editprofile" type="submit" userid="<%=user.id%>">Update Profile</button></li>
        </ul>
    </div>
    <div class="container">
        <div id="displayhere"></div>
        <div class="post_container">
            <p><label><%=msg%></label></p>
            <%for(var x=0; x<result.length; x++) {%>
                
                <div class="span6">
                    <div id="posttitle"><%=result[x].title%></div>
                    <div id="postauthor">by: <%=result[x].author%></div>
                    <div id="postdate"><%=result[x].timestamp%></div>
                    <div id="postbody"><%=result[x].body%></div>
                </div>
                <p>
                    <%if(user.id == result[x].userid){%>
                    <ul id="interact">
                        <li><button class = "editbutton" type="submit" postid="<%=result[x]._id%>">Edit</button></li>
                        <li><button class = "deletebutton" type="submit" postid="<%=result[x]._id%>">Delete</button></li>
                    </ul>
                    <%}%>
                   
                </p>
            <%}%>
        </div>
    </div>
    <div class="footer">
		Bloggg. A micro-blogging site. Ima Balles
	</div>
    
    <script src = "js/bootstrap.min.js"></script>
</body>
</html>
